body{
    margin: auto 0;
    background-color: aqua;
    
}
.container{
    margin: 10vh;
    background-color: rgb(105, 139, 186);
    height: 400px;
    width: 300px;
    display:inline-block;
    /* max-width: ; */

    /* text-align: center; */
    /* justify-content: center;
    align-items: center; */


  

}
h2{
    text-align: center;
    color: yellow;
}
form{
    background-color: aliceblue;
    padding: 12px;
    margin: 4px 4px;
    font-size: medium;
    border-radius: 5px;
}
form input{
    display: block;  
    margin: 5px 5px;
    height: 25px;
    width: 250px;
}
button{
    background-color: rgba(14, 103, 204, 0.985);
    color: white;
    padding: 3px;
    margin-top: 20px;
    border-radius: 3px;
    height: 25px;
    width:60px ;
    border: none;
    
}